@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Creepster&family=Kumbh+Sans:wght@400;700&family=Oxygen&family=Titan+One&display=swap');
.container-fluid {
    max-width: 100%;
    margin-bottom: 50px;
 
  }

  .table {
    max-width: 100%;
    font-size: 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    max-width: 100%;
    
  
  }

  .col {
    max-width: 100%;
    overflow-x: auto;
  }


  .header-modal {
    background-color: #20b720b5;
    
  }


  .hide-rows tr:nth-child(n+11) {
    display: none;
  }


  .ver-mas,
.ver-menos {
  display: flex;
  align-items: center; /* Agregado */
  background-color: #009ee3;
  color: #ffffff;
  font-size: 12px;
  padding: 12px 32px;
  text-align: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 109px;
  height: 35px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

  
  .ver-mas:hover,
  .ver-menos:hover {
    background-color: #0084bd;
  }
  
  .ver-mas:active,
  .ver-menos:active { 
    transform: translateY(2px);
  }

 
  
.reserva-finalizada {
  font-family: Cabin Sketch;
}
  
.hr {
  border-width: 1px;
  border-color: #1a1919; 
  margin-top: 20px;
  margin-bottom: 20px;
}  


.container-cerrar-sesion {
  display: flex;
  justify-content: flex-end;
  margin: 4px;
}

.cerrar-Sesion {
  border-radius: 3px;
  background-color: rgb(225, 97, 97);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  max-width: 30px;
}


.btn-agregar-reserva {

  height: 55.2px;
  width: 65.2px;
  background-color: #f2f2f2;
  border-radius: 5px;

}

.container-icon-rfinalizada {
  height: 55.2px;
  width: 65.2px;
  margin-bottom: 10px;
  display: flex;
 
}


.btn-icon-rfinalizada {
  width: 70px;
  height: 45px;
  border-radius: 5px;
  background-color: #f2f2f2;
  margin-bottom: 15px;
  
}

.icon-rfinalizadas {
  height: 35px;
  width: 30px;
  
  
}

.container-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 12px;
  flex-direction: column;
  
}


.name-reservas-finalizadas {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
}



 

  



  
  