


  .container {
    max-width: 100%;
    
 
  }

  .table {
    max-width: 100%;
    font-size: 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    
  
  }

  .col {
    max-width: 100%;
    overflow-x: auto;
  }


  .header-modal {
    background-color: #20b720b5;
    
  }


  .hide-rows tr:nth-child(n+11) {
    display: none;
  }


  .ver-mas,
  .ver-menos {
    display: inline-block;
    background-color: #009ee3;
    color: #ffffff;
    font-size: 14px;
    
    padding: 12px 32px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 115px;
    height: 45px;
  }
  
  .ver-mas:hover,
  .ver-menos:hover {
    background-color: #0084bd;
  }
  
  .ver-mas:active,
  .ver-menos:active {
    transform: translateY(2px);
  }
  


  .logout-button {
    position: absolute;
    display: flex;
    background-color: #e7e6e6;
    color: #2f2c2c;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    height: 25px;
    width: 30px;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    right: 0;
    margin: 5px;
    margin-right: 8px;
    border: solid 1px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
   
  }

  .close-icon {
    margin-right: 5px;
    cursor: pointer;
  }
  
  
  

 

  



  
  